<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../scripts/shared.js"></script>
    <link rel="stylesheet" href="../styles/index.css" />
  </head>
  <body>
    <div id="navbar"></div>
    <h1 hidden>Home Page</h1>
    <div class="container">
      <div class="row heading-row">
        <div class="col-3 heading-img">
          <img
            class="image-self"
            src="/images/cts.jpg"
            alt="Photo of myself, Cristian Torres Salazar"
            width="300px"
            height="300px"
          />
        </div>
        <div class="col heading-details">
          <div class="row">
            <h2>Cristian Torres Salazar</h2>
            <p class="details-text">Tualatin, OR</p>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="lead" id="bio">
          Hello, My name is Cristian! I'm an undergraduate student at Portland
          State Universtiy studing to recieve a Bachelors in Computer Science
          with a Minor in Business Administration. My immediate goals are to
          master full stack development from the low level fundamentals behind
          web configuration up to the design of the user experiance while
          building up my theoretical understanding of more complex topics in the
          software Security and Finance sectors to,long term, fully venture into
          the security and finance abstractions of software. I was brought up
          with a passion for the automotive industry and curiosity with the
          workings of finance. This experiance is the root of my interests
          outside of software where I set goals to learn from automotive
          projects and personal investments.
        </p>
      </div>
      <div class="card">
        <div class="card-header"><h3>Education</h3></div>
        <div class="card-body">
          <div class="row section-heading">
            <div class="col-6">
              <h4 class="card-title">Portland State University</h4>
            </div>
            <div class="col-3 text-right">
              <p>Portland, OR</p>
            </div>
            <div class="col-3 text-right">
              <p>9/19 - Present</p>
            </div>
          </div>
          <p class="card-text indent-1">
            Bachelors in Computer Science in progress
          </p>
          <p class="card-text indent-2">
            Business Administration Minor Complete
          </p>
          <p class="card-text indent-2">Graduation Date: Aug, 2023</p>
          <p class="card-text indent-2">GPA: 3.56</p>
          <div class="row section-heading section-spacing">
            <div class="col-6">
              <h4 class="card-title">Mt. Hood Community College</h4>
            </div>
            <div class="col-3 text-right">
              <p>Gresham, OR</p>
            </div>
            <div class="col-3 text-right">
              <p>9/16 - 9/19</p>
            </div>
          </div>
          <p class="card-text indent-1">Engineering Prerequisites</p>
          <div class="row section-heading section-spacing">
            <div class="col-6">
              <h4 class="card-title">UL Certification</h4>
            </div>
          </div>
          <p class="card-text indent-1">
            Certified by UL Knowledge Solutions Training in Industrial Control
            Panels UL508A and Short Circuit Current Ratings
          </p>
        </div>
      </div>
      <div class="card card-spacing">
        <div class="card-header"><h3>Experiance</h3></div>
        <div class="card-body">
          <div class="row section-heading">
            <div class="col-6">
              <h4 class="card-title">Microchip Technology Inc.</h4>
            </div>
            <div class="col-3 text-right">
              <p>Gresham, OR</p>
            </div>
            <div class="col-3 text-right">
              <p>03/21 - Present</p>
            </div>
          </div>
          <div>
            <ul>
              <li>
                Utilize Full Stack Web Development principles to maintain,
                develop, and improve production critical web applications for
                new and legacy systems.
              </li>
              <li>
                Communicated in a team setting to generate and provide project
                updates to Head Software Engineers.
              </li>
              <li>
                Adopted Agile Software Development Cycle philosophies to gather
                requirements, design and implement multilayer software systems,
                and execute complete testing via Unit / Systems Tests all while
                documenting each stage.
              </li>
              <li>
                Design and refactor slowing solutions with efficient manners of
                moving large quantities of data.
              </li>
              <li>Train new coming Engineers / Interns on current systems.</li>
              <li>
                Present new and modern full stack development strategies to head
                engineers.
              </li>
            </ul>
          </div>
        </div>
        <div class="row section-heading">
          <div class="col-6">
            <h4 class="card-title">Portland State University</h4>
          </div>
          <div class="col-3 text-right" hidden>
            <p>Portland, OR</p>
          </div>
          <div class="col-3 text-right">
            <p>12/21 - 7/21</p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer>
    <hr />
    <p>2023 - Cristian Torres Salazar</p>
  </footer>
</html>
