.contact-header {
  height: 500px;
  filter: brightness(0.5);
  background-image: url('../images/skyline.jpg');
  color: #fff;
  text-align: center;
}

.cheader-text {
  padding-top: 250px;
  font-size: 50pt;
}

label {
  padding-left: 0px;
}

.contact-inputs {
  width: 500px;
}

.lead {
  padding-top: 30px;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.form-buttons {
  text-align: center;
  margin-top: 30px;
}
